.head{
    display: flex;
    justify-content: end;
    height: 800px;
    background-color: aqua;
    background-image: url(head.png);
    background-repeat: no-repeat;
}
.content{
    text-align: right;
    padding: 216px 100px 0px 0px;
    width: 400px;
    height: 230px;
}
.content> h1{
    font-weight: 700;
    font-size: 45px;
    font-family: 'Work Sans';
    /* font-family: 'Courier New', Courier, monospace; */
}
.content p{
    /* font-size: 16px; */
    font-weight: 400;

    /* font-family: 'work Sans'; */
}
.content button{
    color: white;
    background-color: #F15B22;
    outline: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: none;
}
.part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 100px;
}
.img2 img{
    /* margin: 233px; */
    width: 100%;
    margin-left: 40px;
    border-radius: 20px;
}
.part2 .content2{
    /* padding: 200px 100px 0px 0px; */
    margin-left: 40px;
    width: 50%;
}
.part2 .content2 li{
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.material-symbols-outlined{
    color:green;
}
/* third sections is start  */
.part3{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}
.part3 .head3{
    /* display: flex; */
}
.part3 .main-ele{
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
}
.part3 .main-ele div{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    justify-items: flex-start;
    align-items: center;
    margin: 6px;
    padding: 10px;
}
.part3 .main-ele img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.part3 .main-ele div h4,p{
    margin: 5px;
}