.head{
    display: flex;
    justify-content: end;
    height: 800px;
    background-color: aqua;
    background-image: url(head.png);
}
.content{
    text-align: right;
    padding: 216px 100px 0px 0px;
    width: 400px;
    height: 230px;
}
.content> h1{
    font-weight: bold;
    font-family: 'Work Sans';
    /* font-family: 'Courier New', Courier, monospace; */
}